@import "_general.scss";

@media screen and (min-width: 1440px) {
	.main {
		display: flex;
		align-items: center;
		justify-content: center;
		.card {
			.hide {
				display: none;
			}
			height: 412px;
			width: 416px;
			background: radial-gradient(
				98.96% 98.96% at 50% 0%,
				#232a34 0%,
				#181e27 100%
			);
			border-radius: 30px;
			.card-body {
				margin-top: 32px;
				margin-left: 32px;
				margin-right: 39px;
				margin-bottom: 32px;
				.icon-wrapper {
					background: #262e38;
					border-radius: 40px;
					height: 48px;
					width: 48px;
					display: flex;
					align-items: center;
					justify-content: center;
					.star {
						height: 16px;
						width: 16px;
					}
				}
				.header {
					margin-top: 30px;
					margin-bottom: 7px;
					font-family: "Overpass";
					font-style: normal;
					font-weight: 700;
					font-size: 28px;
					line-height: 35px;

					/* Pure White */

					color: #ffffff;
				}
				.discription {
					margin-bottom: 24px;
					font-family: "Overpass";
					font-style: normal;
					font-weight: 400;
					font-size: 15px;
					line-height: 24px;
					/* or 160% */

					/* Light Grey */

					color: #969fad;
				}
				.selection {
					display: flex;
					width: 341px;
					margin-right: 0px;
					margin-bottom: 32px;
					.circle {
						margin-right: 20px;
						height: 51px;
						width: 51px;
						background-color: $Dark-Blue;
						border-radius: 30px;
						border: none;
						color: $White;
						font-family: "Overpass";
						font-style: normal;
						font-weight: 700;
						font-size: 16px;
						line-height: 24px;
						/* identical to box height, or 150% */

						text-align: center;
						letter-spacing: 0.2px;

						/* Medium Gray */

						color: #7c8798;

						&:hover {
							background-color: $Orange;
						}
					}
					.five {
						margin-right: 0px;
					}
				}
				.submit {
					text-align: center;
					align-items: center;
					width: 341px;
					height: 45px;
					background: #fc7614;
					border-radius: 22.5px;
					color: white;
					border: none;
					font-family: "Overpass";
					font-style: normal;
					font-weight: 700;
					font-size: 15px;
					line-height: 19px;
					letter-spacing: 2px;

					&:hover {
						background-color: $White;
						color: $Orange;
					}
				}
			}
			.cardBodyTwo {
				margin-top: 32px;
				margin-left: 32px;
				margin-right: 39px;
				margin-bottom: 32px;
				.thankYou {
					display: flex;
					align-items: center;
					justify-content: center;
					margin-bottom: 32px;
				}
				.starsFinal {
					/* Dark Blue */

					background: #262e38;
					border-radius: 22.5px;
					text-align: center;
					font-family: "Overpass";
					font-style: normal;
					font-weight: 400;
					font-size: 15px;
					line-height: 24px;
					/* identical to box height, or 160% */

					text-align: center;

					/* Orange */

					color: #fc7614;
					padding-top: 4px;
					padding-bottom: 4px;
				}
				.thankYouHeader {
					font-family: "Overpass";
					font-style: normal;
					font-weight: 700;
					font-size: 28px;
					line-height: 35px;

					color: #ffffff;
					text-align: center;
					margin-top: 32px;
				}
				.thankYouFont {
					font-family: "Overpass";
					font-style: normal;
					font-weight: 400;
					font-size: 15px;
					line-height: 24px;
					/* or 160% */

					text-align: center;

					/* Light Grey */

					color: #969fad;
				}
			}
		}
	}
}
